body{
    margin: 0;
    padding: 0;
    background-image: url(../images/gas_station_picture.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content-table{
   
    background-color: blue;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 65vh;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.89);

}

.h3{
    color: white;
}