{% extends "base.html" %} {% block title %}About Us{% endblock %} {% block
content %}
<form method="POST">
<link rel="stylesheet" href="{{ url_for('static',filename='styles/Aboutus.css') }}">
{#<box12>#}
{#    <h3 align="center">About Us</h3>#}
{##}
{#<box12>#}
{#    This text is the content of the box.We have added a 50px padding, 20px margin.#}
{#</box12>#}
{#</box12>#}
    <div class="box12">
        <div style="font-family: Montserrat; color: white; font-size: 25px; font-weight: bolder; text-align: center; padding: 6% 0;">
            About Us
        </div>

        <div style = "font-family: Montserrat; background:lightblue; opacity:0.6; font-size: 25px; font-weight: bolder; text-align: center; padding: 6% 0;">
           <p> Group 10 Group Members:
           </p>
            <p>
            Svapnarajsinh Bhadola
            </p>
            <p>
                Tommy Nguyen
            </p>
            <p>
                Xiaoqing Liu
            </p>


        </div>
    </div>
</form>
{% endblock %}