{% extends "base.html" %} {% block title %}Get Quote{% endblock %} {% block
content %}
<form method="POST">
    <link rel="stylesheet" type="text/css" href="../static/styles/fuel_quote_form.css">
    <div class="quote_box">
        <div style="font-family: Montserrat; font-size: 25px; font-weight: bolder; text-align: center; padding: 6% 0;">
            FUEL QUOTES
        </div>

        <div>
            <form id="quote_form" method="POST" action="#">
                <div class="input_box">
                    <label class="input_label">Gallons Requested</label>
                    <br>
                    <input type="number" name="gallons_requested" min="1" required/>
                </div>

                <div class="input_box">
                    <label class="input_label">Delivery Address</label>
                    <br>
                    <input type="text" name="delivery_address" value="{{address}}, {{state}}" required/>
                </div>

                <div class="input_box">
                    <label class="input_label">Delivery Date</label>
                    <br>
                    <input type="text" name="delivery_date" onfocus="(this.type='date')"  required/>
                </div>

<!--                <div class="submit_button">-->
<!--                    <button type="submit" class="btn">GET QUOTE</button>-->
<!--                </div>-->
<!--                <br />-->
                <button type="submit" class="btn btn-primary">GET QUOTE</button>
            </form>
        </div>
    </div>
</form>
{% endblock %}
