{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block content %}
<link rel="stylesheet" type="text/css" href="../static/styles/index.css">
<form method="POST">
  <h3 style="font-family: Montserrat; font-size: 25px;font-weight:bolder; text-align: center; padding: 4%; color:azure; ">Sign Up</h3>
  <div class="form-group">
    <div style=" font-weight: bolder; text-align: center; padding-top: 4%;">
       Email Address
    </div>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  
    <div style=" font-weight: bolder; text-align: center; padding-top: 4%;">
      Username
    </div>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter user name"
    />

    <div style=" font-weight: bolder; text-align: center; padding-top: 4%;">
      Password
    </div>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />

    <div style=" font-weight: bolder; text-align: center; padding-top: 4%;">
      Password (Confirm)
    </div>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
 
  
</form>
{% endblock %}
